src/wsdl/StudyDefinitionService_EMeasure.xsd

<xs:schema xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <xs:include schemaLocation="POQM_MT000001UV.xsd"/>
  <xs:element name="HL7Container" type="HL7Container"></xs:element>
  <xs:complexType name="HL7Container">
    <xs:sequence>
      <xs:element name="QualityMeasureDocument" type="POQM_MT000001UV.QualityMeasureDocument"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfXElement">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="HL7Container" type="HL7Container"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>